@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    text-align: center;
    background-color: #ca83c446;
    
}
nav{
    background-color: #800080d1;
    padding: 15px;
    
}
nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.4em;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;
    color: #80008096;
    background-color: white;
    border-radius: 5px;

}   
header{
    background-image: linear-gradient(to bottom, #800080d1, #ca83c446);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.137);
}
header h1{
    padding: 20px;
    color: white;
    font-size: 2.5em;
    padding-bottom: 20px;
}
header p{
    color: white;
    font-size: 1.2em;
    padding-bottom: 20px;
}
main{
    background-color: white;
    max-width: 850px;
    width: 100%;
    margin: auto;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.300);
    padding-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main h2{
    padding: 15px;
    color: #800080d1;
    font-size: 1.6em;
}
.fotos{
    display: flex; /*para deixar uma do lado da outra*/
    max-width: 850px;
    width: 100%;
    height: 400px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.300);
    margin: auto;
}
.fotos img{
    width: 50%;
    height: 400px;
    object-fit: cover; /*enche o quadro sem distorcer a imagem*/
    padding: 5px;
}
aside{
    width: 400px;
    background-color: #ca83c446;
    padding: 15px;
    text-align: left;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.300);
    margin: 20px auto ;
    text-align: center;
    }
aside h3{
    color: #800080d1;
    padding-bottom: 10px;
    
}
.radio-group label {
    margin-right: 1.2rem;   /* espaço entre Sim e Não */
}

footer{
    background-color: #800080d1;
    color: white;
    padding: 15px;
    margin-top: 20px;
}
footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
footer a:hover{
    text-decoration: underline;
}